form h3{
    margin-top:20px;
}

.input{
    width:70%;
}

textarea{
    width:70%;
    height:400px;
}

form .btn{
    display: block;
    width: 80px;
    margin:0 auto;
}

 form .input-category{
    width: 40%;
    margin-bottom:20px;   
}
